<h1>Edit Pet</h1>
<%= form_for @pet do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <br />
  <br />
  <%= f.label :animal_type %>
  <%= f.text_field :animal_type %>
  <br />
  <br />
  <%= f.label :age %>
  <%= f.text_field :age %>

  <%= f.label :color %>
  <%= f.text_field :color %>

  <%= f.submit %>
<% end %>